[submodule "Prototype"]
	path = Prototype
	url = ./Prototype/
[submodule "Singleton"]
	path = Singleton
	url = ./Singleton/
[submodule "Factory"]
	path = Factory
	url = ./Factory/
[submodule "Strategy"]
	path = Strategy
	url = ./Strategy/
[submodule "Mediator"]
	path = Mediator
	url = ./Mediator/
[submodule "State"]
	path = State
	url = ./State/
